# Python
__pycache__/
*.py[cod]
*.pyo

# Conda / virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# indexes
*.index

# Backup data
*_backup.faiss
*_backup.parquet

# Generated data
events_clean.parquet
*.npy

# Logs
*.log

# Test
.coverage

# Notebook test
test_clean.ipynb