# Python
__pycache__/
*.py[cod]
*.pyo

# Conda / virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/


# FAISS indexes
*.faiss
*.index

# Logs
*.log